
* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Hahmlet', serif;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 365px;
  min-height: 612px; /* 812 */
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.todo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fo-light {
  font-weight: 300;
  color: #fff;
}
.fo-dark {
  font-weight: 300;
  color: #444 !important;
}
.icon-pad {
  padding: 10px;
}
.grey-btn {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  background-color: #555;
  border: none;
  color: #fff;
}
.cursor {
  cursor: pointer;
}
.text-input {
  flex-grow: 1;
  margin: 0 20px 0 0;
}
.none {
  display: none !important;
}