.todo-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 365px;
  height: 100%;
  padding: 20px 10px;
}
.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.todo-radio-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 30px;
  border-bottom: 2px solid #9e9fa5;
}
.todolist-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 10px;
}
.all-todo-items .todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todolist-inner-wrapper {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: #9E9FA5 0px 3px 8px;
  padding: 10px 0;
  margin: 10px 0;
}
.todo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todo-title {
  flex-grow: 1;
  word-break: break-all;
}
.todo-date {
  margin-top: 5px;
  font-size: 8px;
  font-weight: 700;
}
.todo-radio {
  display: none;
}
.todo-label {
  line-height:5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px dotted #444;
  margin: 0 5px;
  cursor: pointer;
}
.todo-radio:checked + .todo-label::after {
  content: "✔";
  font-size: 8px;
  width: 15px;
  font-weight: 900;
  color: #000;
}
.todo-item .grey-btn {
  margin-right: 5px;
}